extends ../shared/template
block content
  #map

  table.table
    th Name:
    th Location
    th Difficulty lvl
    th Hint
    th Found?
    each treasure in treasures
      tr(data-name=treasure.name, data-lat=treasure.lat, data-lng=treasure.lng)
        td: a(href='/treasures/#{treasure._id}')= treasure.name
        td= treasure.Location
        td= treasure.difficulty
        td= treasure.hint
        td.tableData: img(src= treasure.found ? '/img/lock-closed-icon.png' : '/img/check.png')

block scripts
  script(src='/js/user/index.js')
